<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<div th:fragment="footer">
    <footer>
        <br/>
        <div class="blog-footer">
            <div class="container">
                <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="row">
                                <img class="img-responsive footerIcon" src="../images/footer/bestAuctions.png"/>
                            </div>

                            <p>Best auctions best price</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <img class="img-responsive footerIcon" src="../images/footer/investMoney.png"/>
                            </div>

                            <p>Best page to invest your money</p>

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <img class="img-responsive footerIcon" src="../images/footer/contactUs.png"/>
                            </div>

                            <a href="mailto:auctionsproject2017@gmail.com?Subject=Hello%20again" style="color:#5e76ba !important">Contact us</a>

                        </div>
                </div>
            </div>

    </div>

</footer>
</div>
</body>

</html>


