<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<header th:fragment="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-logo img-responsive" src="../images/logo/auctionsLogo.png"/>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:class="${#httpServletRequest.requestURI == '/' or #httpServletRequest.requestURI == '/auctions' or #httpServletRequest.requestURI == '/auctions/filtrar'}? active:''"><a href="/">Auctions</a></li>
                    <th:block th:if="${user!='Anonim' and #httpServletRequest.isUserInRole('USER')}">
                        <li th:class="${#httpServletRequest.requestURI == '/auctionsown'}? active:''"><a href="/auctionsown">My Auctions</a></li>
                        <li th:class="${#httpServletRequest.requestURI == '/auctions/createAuction'}? active:''"><a href="/auctions/createAuction">Create Auction</a></li>
                        <li th:class="${#httpServletRequest.requestURI == '/virtualWallet'}? active:''"><a href="/virtualWallet">My Wallet</a></li>
                    </th:block>
                    <th:block th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                        <li th:class="${#httpServletRequest.requestURI == '/listReports'}? active:''"><a href="/listReports">Reports List</a></li>
                        <li th:class="${#httpServletRequest.requestURI == '/createCategory'}? active:''"><a href="/createCategory">Create Category</a></li>
                        <li th:class="${#httpServletRequest.requestURI == '/listUsers'}? active:''"><a href="/listUsers">Users List</a></li>
                    </th:block>

                    <th:block th:if="${#httpServletRequest.requestURI == '/' or #httpServletRequest.requestURI == '/auctions' or #httpServletRequest.requestURI == '/auctions/filtrar'}">
                        <form method="POST" id="formdata" action="/auctions/filtrar" class="navbar-form navbar-left">
                            <ul class="dropdown navbar-form navbar-left" style="border-left: 3px dotted #9ffafe;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <th:each th:each="category : ${listCategories}" >
                                        <div class="checkbox" style="padding-left:12px !important">
                                            <li><input id="category" class="form-check-input"  type="checkbox" name="category[]" th:text="${category}" th:value="${category}"/></li>
                                        </div>
                                        <li role="separator" class="divider"></li>
                                    </th:each>
                                </ul>
                            </ul>

                            <div class="form-group">
                                <input type="text"  class="form-control" name="word" placeholder="Buscar..."/>
                            </div>
                            <button type="submit" class="btn btn-default"  value="Filtrar">Filter</button>

                        </form>
                    </th:block>

                </ul>

                <li class="dropdown nav navbar-nav navbar-right">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-logo img-responsive" src="../images/login/loginIcon.png"></img></a>
                    <ul class="dropdown-menu">
                        <th:block th:if="${user=='Anonim' or user == null}">
                            <li><a th:href="@{/login}">Login</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/registerUser}">Register user</a></li>
                        </th:block>
                        <th:block th:if="${user!='Anonim' and user != null}">
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </th:block>
                    </ul>
                </li>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
</body>
</html>