<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/header :: head"></th:block>
    <title>Login user</title>
    <link  th:href="@{'~/css/menu.css'}" rel="stylesheet" />
</head>
<body>

    <form action="/logUser" method="POST">
        <b>User:</b>
        <input type="text" name="user"/>
        <b>Password:</b>
        <input type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>